body {
  background-image: url('.../images/lake-matheson-in-new-zealand.jpg');
  background-repeat: no-repeat;
}

h1 {
  font-family: ;
}

.container {
  background-color: white;
  display: flex;
  justify-content: center;
  height: 400px;
}
