body {
  background-image: url('803584.jpg');
  background-repeat: no-repeat;
  background-color: black;
  overflow: hidden;
}

.container {
  background-color: white;
  height: 600px;
  border-radius: 20px;
}

.btn {
  margin: 0 auto;
}

.btn-begin {
  font-size: 30px;
  font-weight: 600;
  height: 40%;
  width: 30%;
}

.btn-form {
  font-size: 30px;
  font-weight: 600;
  height: 40%;
  width: 30%;
}

input {
  text-align: center;
  width: 90%;
}

.mt-6 {
  margin-top: 7rem !important;
}

#map{
  height: 80%;
  width: 30%;
  background-color: red;
}

h6 {
  font-size: 14px;
}

.card {
  background-color: #7755b6;
}
